.body {
  background-color: #000000;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10px;
  padding-right: 10px;
  color: #6E00FFE3;
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 250px;
}

.imagen {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

